<html lang='en'>
  <head>
    <title>Password Change Confirmation</title>
  </head>
  <body style='font-family: Arial, sans-serif; line-height: 1.6; color: #333;'>
    <h3 style='color: #4CAF50;'>Password Change Confirmation</h3>
    <p>Hi <b>{{name}}</b>,</p>
    <p>This is a confirmation that your password has been successfully changed.</p>
    <p>If you did not change your password, please contact our support team
      immediately.</p>
  </body>
</html>